[Desktop Entry]
Name=Substance Composer
Type=Application
Categories=Development
Exec=/opt/Substance\ Composer/substance-composer %U
Icon=substance-composer
MimeType=text/html;
